<mat-card class="card-color">
<mat-card-header>
  <mat-card-title>{{title}}</mat-card-title>
</mat-card-header>
<mat-card-content [formGroup]="formAnimal">
  <mat-form-field class="input-login">
    <mat-label>Nombre</mat-label>
    <input matInput  formControlName="name" >
  </mat-form-field>
  <mat-form-field class="input-login">
    <mat-label>Color</mat-label>
    <input matInput  formControlName="color" >
  </mat-form-field>
  <mat-form-field class="input-login">
    <mat-label>Sexo</mat-label>
    <input matInput  formControlName="sexo" >
  </mat-form-field>
  <mat-form-field class="input-login">
    <mat-label>Edad</mat-label>
    <input matInput type="number"  formControlName="edad" >
  </mat-form-field>

    <mat-label>Activo</mat-label>
    <mat-checkbox formControlName="active" class="input-color">Activo</mat-checkbox>

</mat-card-content>
<mat-card-actions>
  <button mat-raised-button color="primary" (click)="save()" [disabled]="formAnimal.invalid || isLoading">Guardar</button>
</mat-card-actions>

</mat-card>
