/* You can add global styles to this file, and also import other style files */
.text-left{
text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}

.button-with-margin{
  margin: 90px !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
